<form (ngSubmit)="login()" [formGroup]="loginForm">
  <div>
    <label for="email">Adresse mail</label>
    <input id="email" formControlName="email" type="email" autocomplete="email" />

    @if (loginForm.controls.email.touched) {
      @if (loginForm.controls.email.errors?.['required']) {
        <p>L'adresse mail est requise.</p>
      }

      @if (loginForm.controls.email.errors?.['email']) {
        <p>L'adresse mail doit être valide.</p>
      }
    }
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      autocomplete="current-password"
    />

    @if (loginForm.controls.password.touched) {
      @if (loginForm.controls.password.errors?.['required']) {
        <p>Le mot de passe est requis.</p>
      }
    }
  </div>

  <div>
    <input id="remember-me" formControlName="rememberMe" type="checkbox" />
    <label for="remember-me">Se souvenir de moi</label>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
</form>

<p>Vous n'avez pas de compte ? <a routerLink="/auth/register">Inscrivez-vous</a></p>
