<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Email" formControlName="email" />

    @if (form.controls.email.errors?.['required']) {
      <mat-error>Email is required</mat-error>
    }
    @if (form.controls.email.errors?.['email']) {
      <mat-error>Enter a valid email</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" formControlName="password" />

    @if (form.controls.password.errors?.['required']) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>

  <button type="submit" matButton="filled">Login</button>
</form>

<p>
  Don't have an account?
  <a routerLink="/auth/register">Register here</a>
</p>
