<h1 class="text-xl font-bold">Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="signIn()" class="flex flex-col gap-y-4 mt-4">
  <div class="flex flex-col gap-y-2">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      required
      class="border border-gray-300 bg-gray-100 p-2 rounded"
    />
    @if (loginForm.controls.email.invalid && loginForm.controls.email.touched) {
      <p class="text-red-500">
        @if (loginForm.controls.email.errors?.['required']) {
          <small>Email is required.</small>
        }
        @if (loginForm.controls.email.errors?.['email']) {
          <small>Invalid email format.</small>
        }
      </p>
    }
  </div>
  <div class="flex flex-col gap-y-2">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      required
      class="border border-gray-300 bg-gray-100 p-2 rounded"
    />
    @if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
      <p class="text-red-500">
        @if (loginForm.controls.password.errors?.['required']) {
          <small>Password is required.</small>
        }
      </p>
    }
  </div>
  <div>
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="bg-black text-white w-full p-2 rounded cursor-pointer disabled:cursor-not-allowed"
    >
      Sign in
    </button>
  </div>
</form>

<p class="mt-4">
  Don't have an account?
  <a routerLink="/auth/register" class="text-black font-semibold underline">Register here</a>.
</p>
