<form id="{{ formId() }}" (ngSubmit)="saveTransaction()" [formGroup]="transactionForm()">
  <div>
    <label>Type</label>

    <div>
      @for (transactionType of transactionTypes(); track transactionType) {
        <label [for]="'type-' + transactionType">
          <input
            type="radio"
            formControlName="type"
            aria-required="true"
            [id]="'type-' + transactionType"
            [value]="transactionType"
          />
          <span>{{ displayTransactionType()(transactionType) }}</span>
        </label>
      }
    </div>
  </div>

  <div>
    <label for="amount">Montant</label>
    <input
      id="amount"
      type="number"
      step="0.01"
      formControlName="amount"
      aria-describedby="amount-error"
      aria-required="true"
    />

    @if (transactionForm().controls.amount.touched && transactionForm().controls.amount.invalid) {
      <div id="amount-error" role="alert" aria-live="polite">
        @if (transactionForm().controls.amount.errors?.['required']) {
          <p>Le montant est requis.</p>
        }
        @if (transactionForm().controls.amount.errors?.['min']) {
          <p>Le montant doit être positif.</p>
        }
      </div>
    }
  </div>

  <div>
    <label for="date">Date</label>
    <input
      id="date"
      type="date"
      formControlName="date"
      autocomplete="off"
      aria-describedby="date-error"
      aria-required="true"
    />

    @if (transactionForm().controls.date.touched && transactionForm().controls.date.invalid) {
      <div id="date-error" role="alert" aria-live="polite">
        @if (transactionForm().controls.date.errors?.['required']) {
          <p>La date est requise.</p>
        }
      </div>
    }
  </div>

  <div>
    <label for="title">Titre</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      autocomplete="off"
      aria-describedby="title-error"
      aria-required="true"
    />

    @if (transactionForm().controls.title.touched && transactionForm().controls.title.invalid) {
      <div id="title-error" role="alert" aria-live="polite">
        @if (transactionForm().controls.title.errors?.['required']) {
          <p>Le titre est requis.</p>
        }
        @if (transactionForm().controls.title.errors?.['maxlength']) {
          <p>Le titre ne doit pas dépasser 100 caractères.</p>
        }
      </div>
    }
  </div>

  <div>
    <label for="description">Description</label>
    <textarea
      id="description"
      formControlName="description"
      aria-describedby="description-error"
      aria-required="false"
    ></textarea>

    @if (
      transactionForm().controls.description.touched &&
      transactionForm().controls.description.invalid
    ) {
      <div id="description-error" role="alert" aria-live="polite">
        @if (transactionForm().controls.description.errors?.['maxlength']) {
          <p>La description ne doit pas dépasser 500 caractères.</p>
        }
      </div>
    }
  </div>

  <div>
    <label for="category-id">Catégorie</label>
    <select
      id="category-id"
      formControlName="categoryId"
      aria-describedby="category-id-error"
      aria-required="false"
    >
      @if (categories(); as categories) {
        @for (category of categories.items; track category.id) {
          <option [value]="category.id">{{ category.name }}</option>
        }
      }
    </select>

    @if (
      transactionForm().controls.categoryId.touched && transactionForm().controls.categoryId.invalid
    ) {
      <div id="category-id-error" role="alert" aria-live="polite">
        @if (transactionForm().controls.categoryId.errors?.['required']) {
          <p>La catégorie est requise.</p>
        }
      </div>
    }
  </div>
</form>
