<h2 mat-dialog-title>
  @if (data) {
    Edit account
  } @else {
    New account
  }
</h2>
<mat-dialog-content>
  <form id="accountForm" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Name" formControlName="name" />

      @if (form.controls.name.errors?.['required']) {
        <mat-error>Name is required</mat-error>
      }
      @if (form.controls.name.errors?.['maxlength']) {
        <mat-error>Name cannot be longer than 100 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Starting Balance</mat-label>
      <input
        type="number"
        matInput
        placeholder="Starting Balance"
        formControlName="startingBalance"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Cancel</button>
  <button type="submit" form="accountForm" matButton cdkFocusInitial>Save</button>
</mat-dialog-actions>
