<section>
  <div>
    <h1>Catégories</h1>

    <button type="button" (click)="openCreateCategory()">
      Ajouter une catégorie
    </button>
  </div>

  @if (paginatedCategories(); as paginatedCategories) {
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (category of paginatedCategories.items; track category.id) {
            <tr>
              <td scope="row">{{ category.name }}</td>
              <td>
                <div>
                  <button
                    type="button"
                    (click)="openUpdateCategory(category.id)"
                  >
                    Modifier
                  </button>
                  <button
                    type="button"
                    (click)="openDeleteCategory(category.id)"
                  >
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <app-pagination [(paginationParams)]="paginationParams" [total]="paginatedCategories.total" />
  }
</section>

@if (displayCategoryForm()) {
  <app-dialog
    formId="category-form"
    [disabled]="categoryForm.categoryForm().invalid"
    [title]="categoryFormTitle()"
    (close)="closeCategoryForm()"
  >
    <app-category-form
      #categoryForm
      formId="category-form"
      [category]="selectedCategory()"
      (saved)="handleCategorySaved($event)"
    />
  </app-dialog>
}

@if (displayCategoryDeleteConfirmation()) {
  @if (selectedCategory(); as selectedCategory) {
    <app-dialog
      [title]="'Supprimer la catégorie ' + selectedCategory.name"
      (close)="closeDeleteCategory()"
      (confirm)="handleCategoryDelete()"
    >
      <p>Êtes-vous sûr de vouloir supprimer la catégorie « {{ selectedCategory.name }} » ?</p>
    </app-dialog>
  }
}
