@if (totalPages() > 1) {
  <nav>
    <button
      type="button"
      [disabled]="currentPage() === 1"
      (click)="changePage(currentPage() - 1)"
    >
      Précédent
    </button>

    @for (pageNumber of pageNumbers(); track pageNumber) {
      <button
        type="button"
        [attr.aria-current]="pageNumber === currentPage() ? 'page' : null"
        [disabled]="pageNumber === currentPage()"
        (click)="changePage(pageNumber)"
      >
        {{ pageNumber }}
      </button>
    }

    <button
      type="button"
      [disabled]="currentPage() === totalPages()"
      (click)="changePage(currentPage() + 1)"
    >
      Suivant
    </button>
  </nav>
}
