<nav class="nav">
  <div>
    <a routerLink="/" (click)="closeMenu()">
      <h1>Florin</h1>
    </a>
  </div>

  @if (isAuthenticated()) {
    <div class="nav-links" [class.nav-links-menu]="isMenuOpen()">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
      >
        Tableau de bord
      </a>
      <a routerLink="/categories" routerLinkActive="active" (click)="closeMenu()">Catégories</a>
      <a routerLink="/accounts" routerLinkActive="active" (click)="closeMenu()">Comptes</a>
      <a routerLink="/transactions" routerLinkActive="active" (click)="closeMenu()">Transactions</a>
    </div>

    <button class="nav-burger-menu" (click)="toggleMenu()">
      @if (isMenuOpen()) {
        <i class="ri-close-line"></i>
      } @else {
        <i class="ri-menu-line"></i>
      }
    </button>
  }
</nav>
