<section>
  <div>
    <h1>Transactions</h1>

    @if (accountForm.value.accountId) {
      <button type="button" (click)="openCreateTransaction()">Ajouter une transaction</button>
    }
  </div>

  <form (ngSubmit)="selectAccount()" [formGroup]="accountForm">
    <div>
      <label for="account-select">Compte</label>
      <select id="account-select" formControlName="accountId">
        @if (accounts(); as accounts) {
          @for (account of accounts.items; track account.id) {
            <option [value]="account.id">{{ account.name }}</option>
          }
        }
      </select>
    </div>
  </form>

  @if (paginatedTransactions(); as paginatedTransactions) {
    <ul>
      @for (transaction of paginatedTransactions.items; track transaction.id) {
        <li>
          <dl>ID</dl>
          <dd>{{ transaction.id }}</dd>

          <dl>Type</dl>
          <dd>{{ displayTransactionType()(transaction.type) }}</dd>

          <dl>Montant</dl>
          <dd>{{ transaction.amount | currency }}</dd>

          <dl>Date</dl>
          <dd>{{ transaction.date | date }}</dd>

          <dl>Titre</dl>
          <dd>{{ transaction.title }}</dd>

          <dl>Description</dl>
          <dd>{{ transaction.description }}</dd>

          <dl>Catégorie</dl>
          <dd>{{ transaction.category.name }}</dd>

          <button type="button" (click)="openUpdateTransaction(transaction.id)">Modifier</button>
          <button type="button" (click)="openDeleteTransaction(transaction.id)">Supprimer</button>
        </li>
      }

      <app-pagination
        [(paginationParams)]="paginationParams"
        [total]="paginatedTransactions.total"
      />
    </ul>
  }
</section>

@if (displayTransactionForm() && accountForm.value.accountId) {
  <app-dialog
    formId="transaction-form"
    [disabled]="transactionForm.transactionForm().invalid"
    [title]="transactionFormTitle()"
    (close)="closeTransactionForm()"
  >
    <app-transaction-form
      #transactionForm
      formId="transaction-form"
      [accountId]="accountForm.value.accountId"
      [transaction]="selectedTransaction()"
      (saved)="handleTransactionSaved($event)"
    />
  </app-dialog>
}

@if (displayTransactionDeleteConfirmation()) {
  @if (selectedTransaction(); as selectedTransaction) {
    <app-dialog
      [title]="'Supprimer la transaction ' + selectedTransaction.title"
      (close)="closeDeleteTransaction()"
      (confirm)="handleTransactionDelete()"
    >
      <p>Êtes-vous sûr de vouloir supprimer la transaction « {{ selectedTransaction.title }} » ?</p>
    </app-dialog>
  }
}
