<section>
  <div class="page-header">
    <h1>Transactions</h1>

    @if (accountForm.value.accountId) {
      <button type="button" (click)="openCreateTransaction()">Ajouter une transaction</button>
    }
  </div>

  <form class="form account-selection" (ngSubmit)="selectAccount()" [formGroup]="accountForm">
    <div class="form-group">
      <label for="account-select">Compte</label>
      <select id="account-select" formControlName="accountId">
        @if (accounts(); as accounts) {
          @for (account of accounts.items; track account.id) {
            <option [value]="account.id">{{ account.name }}</option>
          }
        }
      </select>
    </div>
  </form>

  @if (paginatedTransactions(); as paginatedTransactions) {
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Titre</th>
            <th scope="col">Montant</th>
            <th scope="col">Catégorie</th>
            <th scope="col" class="table-action">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (transaction of paginatedTransactions.items; track transaction.id) {
            <tr>
              <td scope="row">{{ transaction.date | date }}</td>
              <td>{{ transaction.title }}</td>
              <td>{{ transaction.amount | currency }}</td>
              <td>{{ transaction.category.name }}</td>
              <td>
                <div class="table-actions">
                  <button
                    type="button"
                    (click)="openUpdateTransaction(transaction.id)"
                    [attr.aria-label]="'Modifier la transaction ' + transaction.title"
                  >
                    <i class="ri-edit-box-line"></i>
                  </button>
                  <button
                    type="button"
                    (click)="openDeleteTransaction(transaction.id)"
                    [attr.aria-label]="'Supprimer la transaction ' + transaction.title"
                  >
                    <i class="ri-delete-bin-line"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <app-pagination [(paginationParams)]="paginationParams" [total]="paginatedTransactions.total" />
  }
</section>

@if (displayTransactionForm() && accountForm.value.accountId) {
  <app-dialog
    formId="transaction-form"
    [disabled]="transactionForm.transactionForm().invalid"
    [title]="transactionFormTitle()"
    (close)="closeTransactionForm()"
  >
    <app-transaction-form
      #transactionForm
      formId="transaction-form"
      [accountId]="accountForm.value.accountId"
      [transaction]="selectedTransaction()"
      (saved)="handleTransactionSaved($event)"
    />
  </app-dialog>
}

@if (displayTransactionDeleteConfirmation()) {
  @if (selectedTransaction(); as selectedTransaction) {
    <app-dialog
      [title]="'Supprimer la transaction ' + selectedTransaction.title"
      (close)="closeDeleteTransaction()"
      (confirm)="handleTransactionDelete()"
    >
      <p>Êtes-vous sûr de vouloir supprimer la transaction « {{ selectedTransaction.title }} » ?</p>
    </app-dialog>
  }
}
